.score{
    margin-top: 12vw;
    font-size: 3vw;
}


.message{
    width: 32vw;
    margin-left: 34vw;
}

#button{
    background-color: #009688;
    width: 32vw;
}

#button:hover{
    background-color: #5ec4b9
    }

#save{
    width: 32vw;
}

.winMessage{
    font-size: 1.8vw;
    color: #673AB7; 
}
  

.best{
    font-size: 1.2vw;
 }

 @media only screen and (max-width: 1024px) {
   


    .message{
        width: 73vw;
        margin-left: 14vw;
    }

    .score {
        margin-top: 18vw;
        font-size: 9vw;
    }

    .winMessage {
        font-size: 6.8vw;
        
    }

    #save {
        width: 73vw;
        height: 14vw;
        margin-bottom: 4vw;
    }
    #button{
        width: 73vw;
        height: 14vw;
    }

    .waves-effect {
        display: block;
        margin-bottom: 30px;
        height: 11.5vw;
        font-size: 4vw;
       
    }

    .input{
        height: 12vw !important;
        font-size: 6vw !important;
        margin-top: 3vw !important;
    }
    

    .saveText{
        font-size: 1.5vw
    }

    .best {
        font-size: 6.2vw;
    }

    .saveText {
        font-size: 5vw;
    }
  }