.App {
  text-align: center;
  font-family: 'PT Serif', serif;

}

.roundNum{
  position: absolute;
  top: 1.2vw;
  left: 1.1vw;
  font-weight: bold;
  font-size: 1.4vw;
}
.round{
  background-color: #9d98ef;
  height: 6vw;
  border-radius: 50%;
  color: white;
  width: 6vw;
  text-align: center;
  margin: 17px;
  position: absolute;
  top: 0.5vw;
  left: 30vw;
}

.title{
  font-size: 3.5vw;
  margin-top:2vw;
  margin-left: 6vw
}


.gameSection{
  margin-top: 4vw;
    display: grid;
    /* grid-gap: 5fr;        */
    grid-template-columns: 1fr 1fr;
}